@import './styles/theme.css';
@import './styles/canvas.css';
@import './styles/nodes.css';
@import './styles/syntax.css';
@import './styles/ui.css';
@import './styles/sidebar.css';
@import './styles/settings.css';